TURBK_IMAGE=ghcr.io/tursom/turbk:latest
TURBK_PULL_POLICY=missing
GOPROXY=https://proxy.golang.org,direct
TURBK_VERSION=0.1.0-dev
TURBK_COMMIT=local
TURBK_BUILD_DATE=unknown
TURBK_HTTP_PORT=8080
TURBK_PUBLIC_URL=http://localhost:8080

TURBK_ADMIN_USERNAME=admin
TURBK_ADMIN_PASSWORD=change-me
TURBK_SESSION_TTL_HOURS=24

TURBK_STATE_DIR=./data/state
TURBK_REPO_DIR=./data/repo
TURBK_RESTORE_DIR=./data/restore
